.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50px auto;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5px 10px;
    color:white;
    padding: 5px;
    height: auto;
}

