.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
}

.addStudentButton {
    border: 2.5px solid aqua;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family : inherit;
    margin-top: 30px;
    height: 40px;
    width: 50%;
    background: none;
}

.addStudentButton:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

