.container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    border: 1.5px aqua solid;
    border-radius: 15px;
    color: white;
    height: 100%;
    width: 100%;
}

.container h3 {
    display: flex;
    justify-content: center;
    background-color: aqua;
    border-radius: 15px;
    margin: 0px;
    color: black;
    height: 30px;
}


